@model MvcInterface.Models.ProductModel

@{
    ViewData["Title"] = "Add Stock ";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<h1>Add Item(s) for Stock </h1>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>


<h2>Add a Product <a asp-action="Index" class="btn btn-sm btn-secondary">Back</a></h2>
<form asp-action="AddProduct" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Group" class="control-label"></label>
        <input asp-for="Group" class="form-control" />
        <span asp-validation-for="Group" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SubGroup" class="control-label"></label>
        <input asp-for="SubGroup" class="form-control" />
        <span asp-validation-for="SubGroup" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Status" class="control-label"></label>
        <input asp-for="Status" class="form-control" />
        <span asp-validation-for="Status" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Quantity" class="control-label"></label>
        <input asp-for="Quantity" class="form-control" />
        <span asp-validation-for="Quantity" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Price" class="control-label"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Image" class="control-label"></label>
        <input name="Image" type="file" class="btn btn-microsoft">
    </div>


    <div class="text-center panel-body">
        <button type="submit" class="btn btn-sm btn-primary">Add Product</button>
    </div>
</form>

@if (Model != null)
{
    <h2>Product</h2>
    <table class="table table-sm table-striped table-bordered m-2">
        <thead><tr><th>ID</th><th>Name</th><th>Description</th><th>Group</th> <th>SubGroup</th> <th>Status</th> <th>Price</th> <th>Quantity</th> <th>Image</th></tr></thead>
        <tbody>
            <tr>
                <td>@Model.Id</td>
                <td>@Model.Name</td>
                <td>@Model.Description</td>
                <td>@Model.Group</td>
                <td>@Model.SubGroup</td>
                <td>@Model.Status</td>
                <td>@Model.Price</td>
                <td>@Model.Quantity</td>
                <td>
                    <img src="@ViewBag.ImgPath" alt="@Model.Image" height="100" width="100" />
                </td>
            </tr>
        </tbody>
    </table>
}
