@model POSSMvc.Models.Product
@{ Layout = "_Layout"; ViewBag.Title = "Get Product by Id";}

<h2>Get Product by Id <a asp-action="Index" class="btn btn-sm btn-primary">Back</a></h2>
<form method="post">
    <div class="form-group">
        <label for="id">Id:</label>
        <input class="form-control" name="id" />
    </div>
    <div class="text-center panel-body">
        <button type="submit" class="btn btn-sm btn-primary">Get Product</button>
    </div>
</form>

@if (Model != null)
{
    <h2>Product</h2>
    <table class="table table-sm table-striped table-bordered m-2">
        <thead><tr><th>ID</th><th>Name</th><th>Group</th> <th>Sub Group</th> <th>Status</th><th>Price</th><th>Quantity</th></tr></thead>
        <tbody>
            <tr>
                <td>@Model.Id</td>
                <td>@Model.Name</td>
                <td>@Model.Group</td>
                <td>@Model.SubGroup</td>
                <td>@Model.Status</td>
                <td>@Model.Price</td>
                <td>@Model.Quantity</td>
                <td>
                    @{
                        var base64 = Convert.ToBase64String(Model.Image);
                        var imgsrc = String.Format("data:image/gif;base64,{0}", base64);
                      }
                  <img src="@imgsrc" width="400" height="300" />
                   

                @*<img src="~/images/ @Model.Image"
                         class="rounded-circle"
                         height="40" width="40"
                         asp-append-version="true" />*@
                </td>
            </tr>
        </tbody>
    </table>
}