@model POSS.Models.Delivery.GetCustomerDeliveryAddressModel

@{
    ViewData["Title"] = "GetCustomerDeliveryAddress";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h1>GetCustomerDeliveryAddress</h1>

<div>
    <h4>GetCustomerDeliveryAddressModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fullnames)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fullnames)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecipientMobileNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecipientMobileNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StreetAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StreetAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Complex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Complex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isResidential)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isResidential)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Suburb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Suburb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Province)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Province)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostalCode)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
