@model IEnumerable<MvcInterface.Models.Product>
@{
    ViewBag.Title = "Patience Online Shopping";
<<<<<<< HEAD
    Layout = "~/Views/Shared/_UserDashBoardcshtml.cshtml";
=======
    Layout = "~/Views/Shared/_HomeLayoutv1.cshtml";
>>>>>>> origin/Layout
}


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="http://cdn.rawgit.com/elevateweb/elevatezoom/master/jquery.elevateZoom-3.0.8.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script type="text/javascript">
    document.write('<base href="' + document.location + '" />');
</script>
<style type="text/css">

    /* #####################################################################
    #
    #   Project       : POSS
    #   Author        : Prince Thabane Lunga
    #   Version       : 1.0
    #   Created       : 30/05/2020
    #
    #
    ##################################################################### */
</style>

<link rel="stylesheet" href="style.css">
<link href="http://www.professorcloud.com/styles/cloud-zoom.css" rel="stylesheet" type="text/css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.js"></script>
<script type="text/JavaScript" src="http://www.professorcloud.com/js/cloud-zoom.1.0.2.js"></script>
<script src="~/Scripts/app.js"></script>

<div ng-controller="MainCtrl">


    @foreach (var x in Model)
    {
        <div class="panel panel-default">
            <form asp-action="AddItemToCart" method="post" enctype="multipart/form-data">

                <div class="row">

                    <!-- Content Column -->
                    <div class="col-lg-6 mb-4">

                            <div class="card-body">
                                <table>
                                    <tr>
                                        <td>
                                            <a href="http://localhost:56829/ZoomImages/@x.Image" class="cloud-zoom" rel="adjustX: 10, adjustY:-4">
                                                <img src="data:image/jpeg;base64,@(Convert.ToBase64String(x.Image))" width="300" height="300" />
                                            </a>
                                        </td>
                                        <td>
                                            <a><span id="Category" style="color:black"><b>Category:</b></span></a>

                                            <a><span id="Group" style="color:black">@x.Group</span></a>

                                            <a><span id="Price" style="color:black"><b>Price:</b></span></a>

                                            <a><span id="Price" style="color:black">@x.Price</span></a><br />

                                            <a><span id="Department" style="color:black"><b>Department:</b></span></a>
                                            <a><span id="SubGroup" style="color:black">@x.SubGroup</span></a>
                                            <a><span id="Discount" style="color:black"><b>Discount</b></span></a>
                                            <a><span id="Discount" style="color:black">@x.Discount</span></a>


                                            <button type="submit" class="btn btn-info btn-lg">
                                                <span class="glyphicon glyphicon-shopping-cart-50"></span> Add To Cart
                                            </button>
                                            <br />
                                            <a href="@Url.Action("Index", "Product")" class="btn btn-success btn-icon-split">
                                                <span class="glyphicon glyphicon-eye-open-50">
                                                    <i class="fas fa-check"></i>
                                                </span>
                                                <span class="text">Continue shopping</span>
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                                @*<div class="col-sm-3 col-md-6" style="color:blue">
                                   

                                   
                                </div>*@
                            </div>
                        </div>
                    </div>
<<<<<<< HEAD
                    <div class="col-sm-9 col-md-6">
                        <h3><span id="Category" style="color:black"><b>Category:</b></span></h3>

                        <h6><span id="Group" style="color:black">@x.Group</span></h6>

                        <h3><span id="Price" style="color:black"><b>Price:</b></span></h3>

                        <h6><span id="Price" style="color:black">@x.Price</span></h6>

                        <h3><span id="Department" style="color:black"><b>Department:</b></span></h3>
                        <h4><span id="SubGroup" style="color:black">@x.SubGroup</span></h4>
                        <h3><span id="Discount" style="color:black"><b>Discount</b></span></h3>
                        @*<h3><span id="mobilename" style="color:black"><b>Model:</b></span></h3>*@
                    </div>
                </div>


                <div>
                    <button type="submit" class="btn btn-info btn-lg" style="margin-left:60px">
                        <span class="glyphicon glyphicon-shopping-cart"></span> Add To Cart
                    </button>

                    <a id="btn_add" href="@Url.Action("Index", "Product")" class="btn btn-info btn-lg" style="margin-left:60px">
                        <span class="glyphicon glyphicon-eye-open"></span> Continue shopping
                    </a>
                    <br />
                    <br />

                </div>
=======
>>>>>>> origin/Layout
            </form>

        </div>
    }
</div>


